<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="chat-widget">
      <div class="chat-header">
        <h4>Customer Support</h4>
        <button class="chat-close-btn">&times;</button>
      </div>
      <div class="chat-body">
        <ul class="chat-message-list"></ul>
      </div>
      <div class="chat-footer">
        <input type="text" placeholder="Type your message..." class="chat-input">
        <button class="chat-send-btn">Send</button>
      </div>
    </div>
    <button class="chat-icon" ><i class="fas fa-comment"></i></button>
    {{!-- <script src="js/main.js"></script> --}}
</body>
</html>