<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <header class="header">
     <div class="container">
        <div class="header-main">
           <div class="logo">
              <a href="#">STEEL Coffee</a>
           </div>
           <div class="open-nav-menu">
              <span></span>
           </div>
           <div class="menu-overlay">
           </div>
           <!-- navigation menu start -->
           <nav class="nav-menu">
             <div class="close-nav-menu">
                <img src="img/close.svg" alt="close">
             </div>
             <ul class="menu">
                <li class="menu-item">
                   <a href="/">Home</a>
                </li>
                <li class="menu-item">
                   <a href="#">Flash Sale</a>
                </li>
                <li class="menu-item">
                   <a href="#">Giới Thiệu</a>
                </li>
                <li class="menu-item menu-item-has-children">
                   <a  data-toggle="sub-menu">Sản Phẩm <i class="plus"></i></a>
                   <ul class="sub-menu">
                       <li class="menu-item"><a href="/product/cake">Bánh Ngọt</a></li>
                       <li class="menu-item"><a href="/product/coffee">Coffee</a></li>
                       <li class="menu-item"><a href="/product/milk">Trà Sữa</a></li>
                       <li class="menu-item"><a href="/product/juice">Nước Ép</a></li>
                   </ul>
                </li>
                {{#if token}}
                <li class="menu-item menu-item-has-children">
                   <a href="#" data-toggle="sub-menu">{{userData.name}}<i class="plus"></i></a>
                   <ul class="sub-menu">
                       <li class="menu-item"><a href="#">Giỏ Hàng</a></li>
                       <li class="menu-item"><a href="#">Cài Đặt Tài Khoản</a></li>
                       <li class="menu-item"><a id="logout-btn">Đăng Xuất</a></li>
                   </ul>
                </li>
                {{else}}
                <li class="menu-item">
                   <a href="/register">Đăng ký thành viên</a>
                </li>
                <li class="menu-item">
                   <a href="/login">Đăng nhập</a>
                </li>
                {{/if}}
             </ul>
           </nav>
           <!-- navigation menu end -->
        </div>
     </div>
  </header>
<section class="home-section">
 </section>
  <script src="js/index.js"></script>
</body>

</html>