<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="nav__logo">
        <a href="#">PGroup</a>
      </div>
      <ul class="nav__links">
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="cars">Ô tô</a></li>
        <li><a href="#">Xe máy điện</a></li>
        <li><a href="#">Dịch vụ hậu mãi</a></li>
        <li><a href="#">Tài khoản</a></li>
        <button type="button">Đăng ký lái xe</button>
      </ul>
      <div class="nav__toggle">
        <span></span>
        <span></span>
        <span></span>
          
      </div>
    </nav>
  </header>
  
<script src="index.js"></script>
</body>
</html>