<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form method="post" action="/login" class="addCar">
      <div></div>
        <div>
            <input type="file" id="image_upload" style="display: none;" onchange="hand">
            <img src="/image/add.png" alt="" onclick="document.getElementById('image_upload').click()" height="236"
                width="239">
        </div>
        <div>
            <label for="nameCar">Tên xe:</label>
            <input type="text" id="nameCar" name="nameCar" required>
            <label for="brand">Hãng:</label>
            <input type="text" id="brand" name="brand" required>
            <label for="description">Miêu tả:</label>
            <input type="text" id="description" name="description" required>
            <label for="price">Giá:</label>
            <input type="text" id="price" name="price" required>
            <label for="seatingCapacity">Sức chứa:</label>
            <input type="text" id="seatingCapacity" name="seatingCapacity" required>
            <label for="year">Năm SX:</label>
            <input type="text" id="year" name="year" required>
            <label for="engine">Động cơ :</label>
            <input type="text" id="engine" name="engine" required>
            <div class="add-button-container">
                <button type="submit">THÊM XE</button>
            </div>
        </div>
    </form>
</body>

</html>