<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="row">
    {{#each dataCF }}
    
      <div class="card">
  <img src="{{image}}" alt="Placeholder image" class="card-img">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text"></p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}
</div>
</body>
</html>