<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="card">
		<img src="/image/picture6.png" alt="" height="297px" width="440">
		<h2 class="card-title">Card title</h2>
		<h3 class="card-subtitle">Card subtitle</h3>
		<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet elit nec risus ultrices semper.</p>
		<a href="car" class="card-link">Learn more</a>
	  </div>
</body>
</html>